

.myProfile {
    background-color: var(--essence-offWhite);
    box-shadow: 0 7px 7px rgba(0,0,0,0.3);
    padding: 15px 25px;
    height: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px;
}


.myProfile .imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.myProfile .imgContainer img {
    height: 200px;
    margin: 0;
    padding: 0;
}

.myProfile .divider {
    margin: 0;
    padding: 0;
}

.myProfile .divider p {
    width: unset;
    margin: 0 15px;
    font-size: 20px;
    text-align: center;
}

.myProfile .details {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.myProfile .details p {
    font-size: 14px;
}

.myProfile .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.myProfile .buttons button {
    background-color: var(--essence-red);
   
    padding: 5px 0;
    width: 90%;
}

.myProfile button {
 font-size: 12px;
}

.myProfile .details-form {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.myProfile .details-form label {
    font-weight: bold;
    font-family: Open Sans;
    width: 35%;
    text-align: end;
  
}
.myProfile .details-form label,
.myProfile .details-form input {
    padding: 0;
    margin: 0;
}

.myProfile .details-form input {
    padding: 5px 10px;
}

.myProfile .details-form .form-group {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 300px;
}

/* this will called if the user is not editing */
.noBg input {
    background-color: unset;
    border-color: transparent;
}

.myProfile .cancel {
    background-color: var(--essence-red);
}