

.register {
    background-image: url('../assets/bg4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.register .form {
    background-color: #fff;
    border-radius: 17px;
    width: 350px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.register .form h2 {
    text-align: center;
    color: var(--essence-red);
    font-size: 32px;
}

.register .form h2 span {
    color: var(--essence-gold);
}

.register .form a {
    text-decoration: none;
    color: var(--essence-red);
    text-align: center;
    font-weight: bold;
}


.register .row {
    display: flex;
    justify-content: space-between;
}

.register .form .width input {
    width: 40%;
}


.register input {
    height: 30px;
 
    background-color: #FAF9F6;
}
.register .form .passwordContainer .icon {
    height: 24px;
}


.register .form .passwordContainer {
    display: flex;
    align-items: center;
    border: 1px solid var(--essence-gold);
    border-radius: 4px;
    background-color: var(--essence-mainBg);
    width: 165px;
    justify-content: space-between;
    padding-right: 12px;
}

.register .form .passwordContainer input {
    border: none;
}

.register .react-datepicker__header h2 {
    font-size: 20px;
    padding: 10px 0;
}

