:root {
    --essence-red: #800020;
    --essence-gold: #D4AF37;
    --essence-mainBg: #FAF9F6;
    --essence-offWhite: #F5F5F5;
    --essence-hover-red: #63021a;
    --essence-hover-white: rgb(222, 222, 222);
  }
  